extends layout.jade

block append head
  meta(name="theme-color" content="#34314c")
  meta(name="apple-mobile-web-app-status-bar-style" content="#34314c")
  meta(name='description', content="Invite. Meet. Ask. Share. Chat. All you may need to contact me is on the page.")
  meta(name='og:description', content='Invite. Meet. Ask. Share. Chat. All you may need to contact me is on the page.')
  title Contact - Max Slobodchikov

block prepend content
  .container.container-contact
    header
      h1 
        a(href="/") Max Slobodchikov
      hr
    main
      h4 Ask. Invite. Share. Chat. Meet.
      h2 Let's Connect!
      img(src="/images/contact-bg.svg", alt="Geometric Background", class="bg")
      .bg-center
        span Contact
      .options
        .first
          style .success{ text-align: center; font-family: "NokioBold";margin-top: 15px;font-size: 1.27em;white-space: nowrap;border-bottom: 2px dashed #ccc;}main .options .title .caption{position:  relative;top: 6px !important;
            }main .options .title .num{position:  relative;top: 1px;}main .options .second .title .num span, main .options .third .title .num span{position:  relative;left: 1px;}
          form(action="/contact" method="post")
            input(type="email" name="email" id="email" required placeholder="Your Email")
            if(typeof msg !== 'undefined')
              if(!!err)
                div(class='msgbox err') #{msg}
              else
                div(class='msgbox success') #{msg}
            button(type="submit") LET'S TALK
        .second
          .letter
            a(href="mailto:maxsslob@gmail.com")
              img(src="/images/letter.png", alt="Letter Image")
        .third
          .social
            a(href="https://twitter.com/max_slob" target="_blank")
              i.fa.fa-twitter
            a(href="https://vk.com/maxsslob" target="_blank")
              i.fa.fa-facebook
            a(href="https://vk.com/maxsslob" target="_blank")
              i.fa.fa-vk

    footer(style="margin-top: 50px")
      nav
        ul
          li
            a(href="/" class="blue") home
          li
            em ·
          li
            a(href="/work" class="yellow") work
          li
            em ·
          li
            a(href="/about" class="red") about
      .love Designed &amp; Created with  
        i.fa.fa-heart &nbsp;
        br
        | by Max Slobodchikov
    script(type='text/javascript').
      var body = document.getElementById('body');
      body.style.backgroundColor = '#34314c';