extends layout.jade

block append head
  meta(name="theme-color" content="#30A9DE")
  meta(name="apple-mobile-web-app-status-bar-style" content="#30A9DE")
  meta(name='description', content='Digital Designer & Web Developer. Internet solutions for everyone: Brand Identity, Design, UI & UX, Front-end, Back-end. Available for remote work, freelance, relocation.')
  meta(name='og:description', content='Digital Designer & Web Developer. Internet solutions for everyone: Brand Identity, Design, UI & UX, Front-end, Back-end. Available for remote work, freelance, relocation.')
  link(rel="stylesheet", href="animate.css")
  title Max Slobodchikov
  style.
    .animated{
      opacity: 0;
    }
  script(src="jquery.min.js" type="text/javascript")
  script(src="anim.js" type="text/javascript")

block prepend content
  .container.container-home
    header
      h1 
        a(href="/").animated Max Slobodchikov
      hr.animated
      h2.animated Digital Designer
        em ·
        | Web Developer
    main
      img(src="images/me.png", alt="My Photo", class="me").me.animated
      a(href="https://twitter.com/max_slob" target="_blank").t.animated
        i.fa.fa-twitter
      a(href="https://www.behance.net/maxsslob" target="_blank").b.animated
        i.fa.fa-behance
      img(src="/images/home-bg.svg", alt="Geometric Background", class="bg")
      a(href="https://codepen.io/maxslob/" target="_blank").c.animated
        i.fa.fa-codepen
      a(href="https://www.linkedin.com/in/maxslob" target="_blank").l.animated
        i.fa.fa-linkedin
    footer
      nav
        ul
          li.anim-left.animated
            a(href="/about" class="red") about
          li.animated
            em ·
          li.anim-center.animated
            a(href="/work" class="yellow") work
          li.animated
            em ·
          li.anim-right.animated
            a(href="/contact" class="dark") contact
