extends layout.jade

block append head
  meta(name="theme-color" content="#30A9DE")
  meta(name="apple-mobile-web-app-status-bar-style" content="#30A9DE")
  meta(name='description', content='Digital Designer & Web Developer. Internet solutions for everyone: Brand Identity, Design, UI & UX, Front-end, Back-end. Available for remote work, freelance, relocation.')
  meta(name='og:description', content='Digital Designer & Web Developer. Internet solutions for everyone: Brand Identity, Design, UI & UX, Front-end, Back-end. Available for remote work, freelance, relocation.')
  title Max Slobodchikov

block prepend content
  style html, body{height: 100%;} .container-message{width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}  .important{width: 250px;background-color: #30A9DE; box-shadow: 3px 3px 0px 3px orange, -3px -3px 0px 3px orange; border-radius: 10px; margin: 0 auto; padding: 15px; color: white; box-sizing: border-box;}.social li{display: inline-block}.social li a{font-size: 1.5em; padding: 5px 10px; transition: all 0.1s ease-in; margin-top: 10px;}.social li a:hover{color: #eee;}.social ul{height: 25px}@media screen and (max-width: 700px){.container-message{background-color: #30A9DE !important; margin-top: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}footer{padding-bottom: 30px;}}
  .container-message
    .important
      .message
        //- h1(style="text-align: center; margin: 0;") Hello
        //- h4(style="padding-left: 10px; margin: 0; margin-top: 20px; font-weight: normal;") My name is 
        //- h4(style="padding-left: 10px; margin: 0; ") Max Slobodchikov
        //- p(style="padding-left: 10px;") That's my story

        //- p(style="padding-left: 10px;") So, I want this page to 
        //-   b help you understand 
        //-   | more of what I do, done & believing also 
        //-   b how to contact me 
        //-   | and see how can I be 
        //-   b helpful 
        //-   | for you.

        //- p(style="padding-left: 10px;") I'm currently working at 
        //-   b ICG - digital agency 
        //-   | based in Minsk, Belarus as the only 
        //-   b Web Designer & Front-End Developer
        //-   | , doing all web/design/it related job.

        //- p(style="padding-left: 10px; margin-bottom: -19px; font-weight: bold;") What I've done there?

        //- p(style="padding-left: 10px; margin-top: 25px;") 
        //-   b 1. 
        //-   | Landing pages I designed & created in a week each:
        //-   ul
        //-     li(style="list-style-type: disc; margin-left: 29px; text-decoration: underline;")
        //-       a(href="http://visa.rosting.by" target="_blank" rel="noopener noreferrer") visa.rosting.by
        //- p(style="padding-left: 29px; margin-top: -13px;") known travel agency's website providing visa assistance services 
        //-   ul
        //-     li(style="list-style-type: disc; margin-left: 29px; text-decoration: underline;")
        //-       a(href="http://visa.rosting.by" target="_blank" rel="noopener noreferrer") lp.ada.by
        //- p(style="padding-left: 29px; margin-top: -13px;") landing page for one of the best driving schools in Minsk.

        //- p(style="padding-left: 10px; margin-top: 25px;") 
        //-   b 2. 
        //-   | Design Work I've done 
        //-   ul
        //-     li(style="list-style-type: disc; margin-left: 29px; ") Company's identity
        //-     li(style="list-style-type: disc; margin-left: 29px; ") Business Card
        //-     li(style="list-style-type: disc; margin-left: 29px; ") Instagram & vk logos and assets
        //-     li(style="list-style-type: disc; margin-left: 29px; ") Brief
        //- p(style="padding-left: 10px; margin-top: 25px;") 
        //-   b 3. 
        //-   | Other
        //-   ul
        //-     li(style="list-style-type: disc; margin-left: 29px; ") CRM Integration
        //-     li(style="list-style-type: disc; margin-left: 29px; ") Devices's maintenance 

        //- p(style="padding-left: 10px; margin-bottom: 5px; font-weight: bold;") I'm currently looking for
        //-   ul
        //-     li(style="list-style-type: disc; margin-left: 29px; ") new connections
        //-     li(style="list-style-type: disc; margin-left: 29px; ") projects to contribute to
        //-     li(style="list-style-type: disc; margin-left: 29px; ") learning opportunities
        //-     li(style="list-style-type: disc; margin-left: 29px; ") experience(es)
        //-     li(style="list-style-type: disc; margin-left: 29px; ") mentor

        //- p(style="padding-left: 10px; margin-bottom: 5px;") 
        //-   b " Designing & creating web using modern tools makes me happy. "

        //- p(style="padding-left: 10px; margin-bottom: 5px;") 
        //-   | But I want code to become my hobby, don't limit myself on it,  do more important things.

        //- p(style="padding-left: 10px; margin-bottom: 5px;") In the future I want to become more than a web designer or a full stack developer, make people & world around me a better place.

        //- p(style="padding-left: 10px; margin-bottom: 5px;")  
        //-   b On my free time I:
        //-   ul
        //-     li(style="list-style-type: disc; margin-left: 29px; ") Visit local conferences
        //-     li(style="list-style-type: disc; margin-left: 29px; ") Learn about many subjects
        //-     li(style="list-style-type: disc; margin-left: 29px; ") Design, Create, Anazyle something
        //-     li(style="list-style-type: disc; margin-left: 29px; ") Listen to podcasts, TED.
        //-     li(style="list-style-type: disc; margin-left: 29px; ") Do sports, cycling, soccer.
        //-     li(style="list-style-type: disc; margin-left: 29px; ") Travel & Make photos


        h2(style="text-align: center;") FEBRUARY 3, 2017
        
        h3(style="text-align: center; font-weight: 300;") THE WEBSITE BEING RETHOUGHT & IN DEVELOPMENT STATE


      .social
        ul
          li
            a(href="https://www.behance.net/maxsslob" target="_blank" rel="noopener noreferrer")
              i.fa.fa-behance
          li
            a(href="https://vk.com/maxsslob" target="_blank" rel="noopener noreferrer")
              i.fa.fa-vk
          li
            a(href="mailto:maxsslob@gmail.com")
              i.fa.fa-envelope
          li
            a(href="https://www.linkedin.com/in/maxslob" target="_blank" rel="noopener noreferrer")
              i.fa.fa-linkedin
          li
            a(href="https://instagram.com/max.slob" target="_blank" rel="noopener noreferrer")
              i.fa.fa-instagram

  .container.container-home
    footer(style="position: relative; top: -15px; text-align: center")
      nav
        ul
          //li.anim-left
            a(href="/about" class="red") about
          //- li
          //-   em ·
          //- li.anim-center
          //-   a(href="/work" class="red") portfolio
          //- li
          //-   em ·
          //li.anim-right
            a(href="/contact" class="dark") contact
