doctype html
html(lang="en")
  head
    block head
      meta(charset='UTF-8')
      meta(name='keywords', content='maxslob, maxsslob, max slobodchikov, web developer, back-end developer, front-end developer, design, ux designer, ui designer, user interface designer, user experience designer')
      meta(name='description', content='Digital Designer & Web Developer. Web Solutions for Businesses. Brand Identity. Available for remote work, freelance, relocation.')
      meta(name='subject', content='Personal Website')
      meta(name='copyright', content='maxslob.com')
      meta(name='language', content='EN')
      meta(name='robots', content='index,follow')
      meta(name='Classification', content='Individual')
      meta(name='author', content='maxslob.com')
      meta(name='designer', content='maxsslob@gmail.com')
      meta(name='owner', content='maxslob.com')
      meta(name='url', content='http://maxslob.com')
      meta(name='directory', content='submission')
      meta(name='pagename', content='Max Slobodchikov')
      meta(name='rating', content='High')
      meta(name='target', content='all')
      meta(name='DC.title', content='Max Slobodchikov')
      meta(name='medium', content='portfolio')
      meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
      meta(name='og:title', content='Max Slobodchikov')
      meta(name='og:type', content='portfolio')
      meta(name='og:url', content='http://maxslob.com')
      meta(name='og:image', content='/images/favicon.png')
      meta(name='og:site_name', content='maxslob.com')
      meta(name='og:description', content='Digital Designer & Web Developer. Web Solutions for Businesses. Brand Identity. Available for remote work, freelance, relocation.')

      link(rel="icon", href="/images/favicon.png")
      link(rel="stylesheet", href="/style.css")
  body#body
    block content
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-83687323-1', 'auto');  ga('send', 'pageview');
