extends layout.jade

block append head
  meta(name="theme-color" content="#ffc952")
  meta(name="apple-mobile-web-app-status-bar-style" content="#ffc952")
  title Work - Max Slobodchikov

block prepend content
  .container.container-work
    header
      h1 
        a(href="/") Max Slobodchikov
      hr
    main
      h4 That's what I'm
      h2 
        span.yellow Proud 
        | of
      img(src="/images/work-bg.svg", alt="Geometric Background", class="bg")
      .bg-center
        span My Work
  .work-container
    .project-container
      .project
        h4 
          a(href="http://vegcafe.icg.by" target="_blank") Vegetarian cafe based in Minsk&nbsp;
            i.fa.fa-external-link
        img(src="/images/vegcafe-mockup.png", alt="Vegetarian cafe website's Mockup")
        h6 AUGUST 2016
        h5 Front-End Project
    .project-container
      .project
        h4 
          a(href="#") Board of ads sorted in descendent order by paid amout&nbsp;
            i.fa.fa-external-link
          
        img(src="/images/wealthscore.png", alt="Highscore.top's Mockup")
        h6 JUNE 2016
        h5 Web App
    .project-container
      .project
        h4 
          a(href="/projects/worldskills/index.html" target="_blank") Website designed &amp; built during WorldSkills national contest in 6 hours (won 3rd place)&nbsp;
            i.fa.fa-external-link
        img(src="/images/worldskills.png", alt="WorldSkills website's Mockup")
        h6 May 2016
        h5 Front-End Project
    .project-container
      .project
        h4 
          a(href="/projects/may1reboot/index.html" target="_blank") #may1reboot Portfolio Rebuilt&nbsp;
            i.fa.fa-external-link
        img(src="/images/may1reboot.png", alt="#may1reboot Portfolio Mockup")
        h6 APRIL 2016
        h5 Front-End Project
    .project-container
      .project
        h4 
          a(href="/projects/practice/index.html" target="_blank") Practiced learned skills by bulding a website about me.&nbsp;
            i.fa.fa-external-link
        img(src="/images/1portfolio.png", alt="Second portfolio Mockup")
        h6 DECEMBER 2015
        h5 Front-End Project
    .project-container(style="background-color: #ffc952")
      .project
        h4 
          a(href="/projects/first-portfolio/index.html" target="_blank") First Personal Landing&nbsp;
            i.fa.fa-external-link
        img(src="/images/1website.png", alt="First Personal Landing Mockup")
        h6 EARLY 2015
        h5 Front-End Project
  .work-end
    .container
      h2 That's it for now
      h3 you can also check:
    .sub-footer(style="background-color: #333")
      .container
        .left
          a(href="https://www.behance.net/maxsslob" target="_blank")
            img(src="/images/sub-l.png", alt="Behance Profile")
        hr
        .right
          a(href="https://codepen.io/maxslob/" target="_blank")
            img(src="/images/sub-r.png", alt="Codepen Profile")

  .work-footer
    footer
      nav
        ul
          li
            a(href="/" class="blue") home
          li
            em ·
          li
            a(href="/about" class="red") about
          li
            em ·
          li
            a(href="/contact" class="white") contact
      